$primaryOrange: #FE9241;
$secondaryOrange: #ED7728;

$primaryBlue: #43A1FE;
$secondaryBlue: #268AED;

$primaryPink: #FE43A1;
$secondaryPink: #ED268A;

$primaryGreen: #26ED58;
$secondaryGreen: #0FBD3B;

$primaryRed: #EE2B2B;
$secondaryRed: #BD0F0F;

$primaryGray: #C0C0C0;
$secondaryGray: #888;
