@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body:not(:hover){
    -webkit-transition-property: body;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-property: body;
    transition-duration: 0.75s;
    transition-timing-function: ease;
}

    
