table {
    width: 100%;
    height: 66vh;
    border-collapse: collapse;
}

td {
    width: 25%;
    height: 11vh;
    padding: 0;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-property: background-color;
    transition-duration: 0.75s;
    transition-timing-function: ease;

}

td.orange {
    background-color: #FE9241;;
}

td.blue {
    background-color: #43A1FE;
}

td.pink {
    background-color: #FE43A1;
}


