.btn-wrapper {
    height: 100%;
    overflow: auto;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.8em;
    /* Controls the border colour for flexbox */
    outline: 0;
    width: 100%;
    flex: 1 1 0;
}

.btn-wrapper:not(:hover), .btn-wrapper.disabled:hover{
    /* Animations are played on colour change except when currently hovering over enabled buttons */
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-property: background-color;
    transition-duration: 0.75s;
    transition-timing-function: ease;
}

.btn-wrapper.ENT, .btn-wrapper.REDO {
    background-color: #00C853;
    color: black;
}

.btn-wrapper.ENT:hover:not(.disabled), .btn-wrapper.REDO:hover:not(.disabled){
    background-color: #5EFC82;
}

.btn-wrapper.DEL, .btn-wrapper.UNDO{
    background-color: #DF0101;
    color: white;
}

.btn-wrapper.DEL:hover:not(.disabled), .btn-wrapper.UNDO:hover:not(.disabled){
    background-color: #DD2E2E;
}

.btn-wrapper.DEL, .btn-wrapper.ENT{
    height: 200%;
}

.btn-wrapper.disabled{
    background-color: #C0C0C0;
    color: white;
    outline: 1px solid #888;
}

.btn-wrapper.UNDO, .btn-wrapper.REDO{
    width: 50%;
    margin-bottom: 4vh;
    margin-left: 25%;
}

.btn-wrapper.playerone {
    background-color: #FE9241;
    color: white;
    outline: 1px solid #ED7728;
}

.btn-wrapper.playerone:hover{
    background-color: #ED7728;
}

.btn-wrapper.playertwo {
    background-color: #42A7F4;
    color: white;
    outline: 1px solid #0273EB;
}

.btn-wrapper.playertwo:hover{
    background-color: #0273EB;
}

