.btn-wrapper {
    height: 11vh;
    overflow: hidden;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 1.75vw;
    /* Controls the border colour for flexbox */
    outline: 0;
    width: 100%;
    flex: 1 1 0;
}

.btn-wrapper:not(:hover), .btn-wrapper.disabled:hover{
    /* Animations are played on colour change except when currently hovering over enabled buttons */
    -webkit-transition-property: background-color, outline;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-property: background-color, outline;
    transition-duration: 0.75s;
    transition-timing-function: ease;
}

.btn-wrapper.ENT{
    background-color: #26ED58;
    color: black;
}

.btn-wrapper.ENT:hover:not(.disabled){
    background-color: #0FBD3B;
}

.btn-wrapper.DEL{
    background-color: #EE2B2B;
    color: white;
}

.btn-wrapper.DEL:hover:not(.disabled){
    background-color: #BD0F0F;
}

.btn-wrapper.DEL, .btn-wrapper.ENT{
    height: 22vh;
}

.btn-wrapper.UNDO, .btn-wrapper.REDO{
    width: 50%;
    margin-bottom: 4vh;
    margin-left: 25%;
}

.btn-wrapper.orange {
    background-color: #FE9241;;
    color: white;
    outline: 1px solid #ED7728;
}

.btn-wrapper.orange.UNDO, .btn-wrapper.orange.REDO {
    outline: 3px solid #ED7728;
}

.btn-wrapper.orange:hover:not(.disabled){
    background-color: #ED7728;
}

.btn-wrapper.blue {
    background-color: #43A1FE;
    color: white;
    outline: 1px solid #268AED;
}

.btn-wrapper.blue.UNDO, .btn-wrapper.blue.REDO {
    outline: 3px solid #268AED;
}

.btn-wrapper.pink:hover:not(.disabled){
    background-color: #ED268A;
}

.btn-wrapper.pink {
    background-color: #FE43A1;
    color: white;
    outline: 1px solid #ED268A;
}

.btn-wrapper.pink.UNDO, .btn-wrapper.pink.REDO {
    outline: 3px solid #ED268A;
}

.btn-wrapper.pink:hover:not(.disabled){
    background-color: #ED268A;
}

.btn-wrapper.disabled{
    background-color: #C0C0C0;
    color: white;
}

.btn-wrapper.disabled.UNDO, .btn-wrapper.disabled.REDO {
    outline: 3px solid #888;
}

@media (orientation: portrait){
    .btn-wrapper{
	font-size: 3vh;
    }
}


