.btn-wrapper {
    height: 100%;
    overflow: auto;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.8em;
    /* Controls the border colour for flexbox */
    outline: 0;
    width: 100%;
    flex: 1 1 0;
}

.btn-wrapper:not(:hover), .btn-wrapper.disabled:hover{
    /* Animations are played on colour change except when currently hovering over enabled buttons */
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-property: background-color;
    transition-duration: 0.75s;
    transition-timing-function: ease;
}

.btn-wrapper.ENT{
    background-color: #26ED58;
    color: black;
}

.btn-wrapper.ENT:hover:not(.disabled){
    background-color: #0FBD3B;
}

.btn-wrapper.DEL{
    background-color: #EE2B2B;
    color: white;
}

.btn-wrapper.DEL:hover:not(.disabled){
    background-color: #BD0F0F;
}

.btn-wrapper.DEL, .btn-wrapper.ENT{
    height: 200%;
}

.btn-wrapper.UNDO, .btn-wrapper.REDO{
    width: 50%;
    margin-bottom: 4vh;
    margin-left: 25%;
}

.btn-wrapper.playerone {
    background-color: #FE9241;
    color: white;
    outline: 1px solid #ED7728;
}

.btn-wrapper.playerone.UNDO, .btn-wrapper.playerone.REDO {
    outline: 5px solid #ED7728;
}

.btn-wrapper.playerone:hover:not(.disabled){
    background-color: #ED7728;
}

.btn-wrapper.playertwo {
    background-color: #43A1FE;
    color: white;
    outline: 1px solid #268AED;
}

.btn-wrapper.playertwo.UNDO, .btn-wrapper.playertwo.REDO {
    outline: 5px solid #268AED;
}

.btn-wrapper.playertwo:hover:not(.disabled){
    background-color: #268AED;
}

.btn-wrapper.disabled{
    background-color: #C0C0C0;
    color: white;
    outline: 1px solid #888;
}

.btn-wrapper.disabled.UNDO, .btn-wrapper.disabled.REDO {
    outline: 5px solid #888;
}

