.player {
    width: 50%;
    height: 30vh;
    float: left;
}

.player.playerone{
    background-color: #FE9241;
}

.player.playertwo{
    background-color: #43A1FE;
}

h2 {
    color: white;
    text-align: center;
    font-size: 4.5em;
    padding-bottom: 0.1em;
    width: 100%;
}

h2.playerone {
    background-color: #ED7728;
}

h2.playertwo{
    background-color: #268AED;
}

h1 {
    color: white;
    text-align: center;
    font-size: 11em;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-property: color;
    transition-duration: 0.75s;
    transition-timing-function: ease;
    -webkit-text-stroke: 2px white;
}

h1.bad {
    color: #BD0F0F;
}

h1.good {
    color: #0FBD3B;
}
