.player {
    width: 50%;
    height: 30vh;
    float: left;
}

.player.playerone {
    background-color: #FE9241;
}

.player.playertwo {
    background-color: #43A1FE;
}

table.header {
    width: 100%;
    height: 60px;
}

td.header {
    width: 33.3333%;
}

h2 {
    color: white;
    text-align: center;
    font-size: 58.5px;
}

h2.legs.playerone {
    text-align: right;
    padding-right: 0.25em;
}

h2.legs.playertwo {
    text-align: left;
    padding-left: 0.25em;
}

table.header.playerone {
    background-color: #ED7728;
}

table.header.playertwo {
    background-color: #268AED;
}

h1 {
    color: white;
    text-align: center;
    font-size: 143px;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing-function: ease;
    transition-property: color;
    transition-duration: 0.75s;
    transition-timing-function: ease;
    -webkit-text-stroke: 2px white;
}

h1.bad {
    color: #BD0F0F;
}

h1.good {
    color: #0FBD3B;
}
